
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ username }}</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
<h1>Hello {{ username }}</h1>
    <div>
        <h3>Tasks</h3>
        <ul>
            {% for task in tasks %}
                <li>{{ task }}</li>
            {% endfor %}
        </ul>
      </div>
<div>
        <h2>Add Task</h2>
        <form action="{{ url_for('add_task') }}" method="POST">
            <input type="text" name="task" placeholder="Enter task">
            <button type="submit">Submit</button>
        </form>
      </div>
<form>
</form>
{% endblock %}